@import "../../../../assets/scss/helpers/variables";

:host {

    .invited-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            border-bottom: 1px solid lighten( black, 70% );
            padding: $padding;
        }

        button {
            margin-left: auto;
            background: $main-color;
            color: white;
            height: 42px;
        }
    }

    input {
        border-radius: 4px;
        line-height: 30px;
        border: 0;
        border: 1px solid lighten( black, 70% );
        padding-left: 1%;
        padding-right: 1%;
        width: 98%;
    }
}