<h2>Confirma tu asistencia</h2>

<input type="text" (keyup)="search($event)" placeholder="Busca tu nombre">

<div *ngIf="showInvited">
    <ul class="invited-list">
        <li *ngFor="let invited of invitedList$ | async">
            <p>{{ invited.name }}</p>
            <button mat-button (click)="openInvitedInfo( invited.id )">Seleccionar</button>
        </li>
    </ul>
</div>

<div *ngIf="(invitedList$ | async)?.length < 1">
    <p>No se encontraron resultados, vuelve a intentarlo.</p>
</div>