<div *ngIf="invitedInfo$ | async as invited">
    <p>{{ invited.name }}</p>
    <select name="" id="">
        <option value="">Confirmar asistencia</option>
        <option value="">Pendiente</option>
        <option value="">Cancelar asistencia</option>
    </select>
    <select name="" id="">
        <option value="">Menú adulto</option>
        <option value="">Menú niños</option>
    </select>
</div>