html {
    height: 100%;
}

body {
    font-family: $text-font;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

p {
    margin: 0;
}