:host {
    
    .cover {
        height: 100%;
        position: relative;
        text-align: center;
        width: 100%;
        background: {
            image: url('/assets/imgs/us.png');
            position: center center;
            repeat: no-repeat;
            size: cover;
        }

        .overlay {
            background: rgba( 0, 0, 0, .4 );
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}