// Colors
$main-color: #B78FA9;
$sec-color: #091b24;


// Margins
$padding: 15px;
$margin: 15px;


// Fonts 
$text-font: 'Oxygen', sans-serif;
$highlight-font: 'Petit Formal Script', cursive;

// Media queries 
$exrta-large: 1200px;
$large: 960px;
$medium: 768px;
$small: 460px;
$extra-small: 320px;
